
*{
    margin: 0px;
}

body{
    background-color: rgb(20, 20, 20);
}

.navbar{
    background-color: rgb(39, 39, 39);
    box-shadow: 2px black;
    padding: 20px;
    display: flex;
    justify-content: space-between;

}

h2{
    color: rgb(255, 255, 255);
    padding: 10px;
}

.navbar ul{
    list-style-type: none;
}

.navbar a{
    color: rgb(255, 255, 255);
    text-decoration: none;
    padding: 15px;
    display: block;
    text-align: center;
}

.navbar a:hover{
    background-color: rgb(68, 68, 68);
    border-radius: 5px;
}

.navbar li{
    float: left;
}